<div class="row">
  <!-- 検索　部分テンプレート -->
  <div class="col-md-3 search_box">
    <p>検索コーナー</p>
    <%= render partial: "location_search" %>
  </div>
  <!-- 投稿一覧 -->
  <div class="col-md-9">
    <h2 class="index-heading">講座情報一覧</h2>
    <div class="row">
      <table class="health-course-table">
        <thead>
          <tr>
            <th style="font-size: 20px;">開催日</th>
            <th style="font-size: 20px;">タイトル</th>
            <th style="font-size: 20px;">開催場所</th>
          </tr>
        </thead>
        <tbody>
          <% @health_courses.each do |health_course| %>
            <tr class="health-course-clickable" data-link="<%= health_course_path(health_course) %>">
              <td><%= health_course.date.strftime("%Y年%m月%d日") %></td>
              <td><%= health_course.title %></td>
              <td><%= health_course.location %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="row justify-content-center"><%= paginate @health_courses %></div>
  </div>
</div>


