<!-- ユーザー情報 -->
<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="row mt-3">
      <h2>ユーザー情報</h2>
      <% if current_end_user == @end_user %>
        <div class="col-md-3">
          <p><%= link_to "編集する", edit_end_user_path(@end_user), class: "btn btn-outline-info" %></p>
        </div>
      <% end %>
    </div>
    <!-- ユーザー詳細 -->
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <p>ユーザー名：<%= @end_user.name %></p>
        </div>
        <div class="row">
          <p>生年月日：<%= @end_user.birthday.strftime('%Y年%m月%d日') %></p>
        </div>
        <div class="row">
          <p>郵便番号：〒 <%= @end_user.postal_code %></p>
        </div>
        <div class="row">
          <p>メールアドレス：<%= @end_user.email %></p>
        </div>
      </div>
      <!-- プロフィール画像 -->
      <div class="col-md-6">
        <%= attachment_image_tag @end_user, :image, size:"250x250", format: 'jpeg', fallback: "no_image.png" %>
      </div>
    </div>
    <!-- ユーザー別投稿一覧 -->
    <div class="row mt-5 justify-content-center">
      <h2 class="index-heading"><%= @end_user.name %> さんの投稿一覧</h2>
      <p class="text-center">タイトルクリックで詳細が見れます</p>
      <% @posts.each do |post| %>
        <div class="row post-index">
          <div class="pt-2 badge badge-pill badge-success">
            <p><%= post.genre.name %></p>
          </div>
          <div class="col-md-4 pt-2">
            <p><%= post.created_at.strftime('%Y/%m/%d') %></p>
          </div>
          <div class="col-md-2 pt-2">
            <i class="fas fa-heart" style="color: #EC407A;"></i>
            <%= post.likes.count %>
          </div>
          <div class="col-md-2 pt-2">
            <i class="fas fa-comment-alt" style="color: #007bff;"></i>
            <%= post.post_comments.count %>
          </div>
          <div class="col-md-12 pt-2">
            <%= link_to post_path(post) do %>
              <p class="post-title"><%= post.title %></p>
            <% end %>
          </div>
          <div class="col-md-12 post-contents-area">
            <p><%= simple_format(post.contents) %></p>
          </div>
        </div>
      <% end %>
      <div class="row justify-content-center"><%= paginate @posts %></div>
    </div>
  </div>
</div>