<div class="row">
  <!-- 検索　部分テンプレート -->
  <div class="col-md-3 search_box">
    <p>検索コーナー</p>
    <%= render partial: "end_users/posts/post_search", locals: {search: @search, departments: @departments, genres: @genres, tags: @tags} %>
  </div>
  <!-- 投稿詳細 -->
  <div class="col-md-9">
    <div class="row post-area">
      <!-- 投稿確認チェックボックス -->
      <div id="checkbox_<%= @post.id %>" class="col-md-1" style="padding: 0;">
        <%= render partial: "post_checkbox", locals: { post: @post } %>
      </div>
      <!-- 投稿詳細エリア -->
      <div class="col-md-11" style="padding: 0;">
        <div class="row">
          <div class="col-md-2 ml-1" style="padding: 0;">
            <%= link_to end_user_path(@post.end_user) do %>
              <%= attachment_image_tag @post.end_user, :image, size: "60x60", format: 'jpeg',fallback: "no_image.png" %>
            <% end %>
          </div>
          <div class="col-md-5" style="padding: 0;">
            <%= link_to end_user_path(@post.end_user) do %>
              <p class="end_user_name"><%= @post.end_user.name %><small> さん</small></p>
            <% end %>
          </div>
          <div class="col-md-2 pt-2">
            <i class="fas fa-heart" style="color: #EC407A;"></i>
            <%= @post.likes.count %>
          </div>
          <div class="col-md-2 pt-2">
            <i class="fas fa-comment-alt" style="color: #007bff;"></i>
            <%= @post.post_comments.count %>
          </div>
          <div class="row">
            <p class="post-title"><%= @post.title %></p>
          </div>
          <div class="row post-body-main">
            <p><%= simple_format(@post.contents) %></p>
          </div>
          <div class="row d-flex justify-content-around post-body-sub">
            <div class="col-md-2 badge badge-pill badge-success"><%= @post.genre.name %></div>
            <div class="col-md-6">診療科：<%= @post.department.name %></div>
            <div class="col-md-4"><%= @post.created_at.strftime('%Y/%m/%d') %></div>
            <div class="col-md-12">
              <% @post_tags.each do |post_tag| %>
                <span class="badge badge-light"><%= post_tag.name %></span>
              <% end %>
            </div>
          </div>
          <!-- 削除ボタン表示 -->
          <% if admin_signed_in? %>
            <div class="col-md-2 offset-10">
              <p><%= link_to "削除", admins_post_path(@post), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-outline-danger btn-sm" %></p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <!-- コメントエリア -->
    <% @post.post_comments.each do |post_comment| %>
      <div class="row post-comment-area">
        <!-- コメント確認チェックボックス -->
        <div id="comment_checkbox_<%= @post.id %><%= post_comment.id %>" class="col-md-1" style="padding: 0;">
          <%= render partial: "admins/post_comments/comment_checkbox", locals: { post_comment: post_comment } %>
        </div>
        <!-- 投稿詳細エリア -->
        <div class="col-md-11" style="padding: 0;">
          <div class="row">
            <div class="col-md-1" style="padding: 0;">
              <%= link_to end_user_path(post_comment.end_user) do %>
                <%= attachment_image_tag post_comment.end_user, :image, size: "40x40", format: 'jpeg',fallback: "no_image.png" %>
              <% end %>
            </div>
            <div class="col-md-2 pt-1">
              <p>ID: <%= post_comment.id %></p>
            </div>
            <div class="col-md-5 pt-1">
              <%= link_to end_user_path(post_comment.end_user) do %>
                <p class="post_comment_end_user_name">
                  <%= post_comment.end_user.name %><small> さん</small>
                </p>
              <% end %>
            </div>
            <div class="col-md-4 pt-1">
              <%= post_comment.created_at.strftime('%Y/%m/%d') %>
            </div>
            <div class="col-md-12"><%= simple_format(post_comment.comment) %></div>
            <div class="col-md-2 offset-md-10">
              <%= link_to "削除",admins_post_post_comment_path(post_comment.post, post_comment), method: :delete, class: "btn btn-outline-danger btn-sm", "data-confirm" => "本当に削除しますか？" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
