<div class="row post-index">
  <div class="pt-2 post-genre-tag">
    <p><%= post.genre.name %></p>
  </div>
  <div class="col-md-4 pt-2">
    <p><%= post.created_at.strftime('%Y/%m/%d') %></p>
  </div>
  <div id="like-ajax-heart-<%= post.id %>" class="col-md-2 pt-2">
    <%= render partial: "end_users/posts/like-heart", locals: {post: post} %>
  </div>
  <div class="col-md-2 pt-2">
    <i class="fas fa-comment-alt" style="color: #007bff;"></i>
    <%= post.post_comments.count %>
  </div>
  <div class="col-md-12 pt-2">
    <%= link_to post_path(post) do %>
      <p class="post-title"><%= post.title %></p>
    <% end %>
  </div>
  <div class="col-md-12 post-contents-area">
    <p><%= post.contents %></p>
  </div>
</div>
