<div class="row">
  <!-- 検索系のサイドバー -->
  <div class="col-md-3">
    <div class="row">
      <p>キーワード検索</p>
      <%= search_form_for(@search, url: search_path) do |f| %>
        <%= f.search_field :title_or_contents_cont, class: "form-control", placeholder: "キーワードを入力" %>
        <%= f.submit "検索" %>
      <% end %>
    </div>
    <!-- 診療科別検索 -->
    <div class="row">
    </div>
  </div>
  <!-- 投稿情報 -->
  <div class="col-md-6">
    <h2 class="text-center">投稿一覧</h2>
    <p class="text-center">タイトルクリックで詳細が見れます</p>
    <% @posts.each do |post| %>
      <div class="row post-index">
        <div class="pt-2 post-genre-tag">
          <p><%= post.genre.name %></p>
        </div>
        <div class="col-md-4 pt-2">
          <p><%= post.created_at.strftime('%Y/%m/%d') %></p>
        </div>
        <div class="col-md-2 pt-2">
          <i class="fas fa-heart" aria-hidden="true" style="color: #EC407A;"></i>
          <%= post.likes.count %>
        </div>
        <div class="col-md-2 pt-2">
          <i class="fas fa-comment-alt" style="color: #007bff;"></i>
          <%= post.post_comments.count %>
        </div>
        <div class="col-md-12 pt-2">
          <%= link_to post_path(post) do %>
            <p class="post-title"><%= post.title %></p>
          <% end %>
        </div>
        <div class="col-md-12 post-contents-area">
          <p><%= post.contents %></p>
        </div>
      </div>
    <% end %>
    <div class="row justify-content-center"><%= paginate @posts %></div>
  </div>
  <!-- 新規投稿、管理人からのお願い -->
  <div class="col-md-3">
    <div class="row new-post-link">
      <%= link_to new_post_path, class: "btn btn-outline-primary btn-lg btn-block" do %>
        投稿する<i class="fas fa-pencil-alt"></i>
      <% end %>
    </div>
    <div class="row">
      <p>ご利用上の注意</p>
    </div>
  </div>
</div>
