<div class="row">
  <!-- 検索　部分テンプレート -->
  <div class="col-md-3 search_box">
    <p>検索コーナー</p>
    <%= render partial: "post_search", locals: {search: @search, departments: @departments, genres: @genres, tags: @tags} %>
  </div>
  <div class="col-md-6">
    <!-- 検索した際は検索ワードを表示 -->
    <%= render partial: "search_word", locals: {department: @department, genre: @genre, tag: @tag} %>
    <!-- 投稿一覧 -->
    <% @posts.each do |post| %>
      <div class="row post-index">
        <div class="pt-2 badge badge-pill badge-success">
          <p><%= post.genre.name %></p>
        </div>
        <div class="col-md-4 pt-2">
          <p><%= post.created_at.strftime('%Y/%m/%d') %></p>
        </div>
        <div class="col-md-2 pt-2">
          <i class="fas fa-heart" style="color: #EC407A;"></i>
          <%= post.likes.count %>
        </div>
        <div class="col-md-2 pt-2">
          <i class="fas fa-comment-alt" style="color: #007bff;"></i>
          <%= post.post_comments.count %>
        </div>
        <div class="col-md-12 pt-2">
          <%= link_to post_path(post) do %>
            <p class="post-title"><%= post.title %></p>
          <% end %>
        </div>
        <div class="col-md-12 post-contents-area">
          <p><%= simple_format(post.contents) %></p>
        </div>
      </div>
    <% end %>
    <div class="row justify-content-center"><%= paginate @posts %></div>
  </div>
  <!-- 新規投稿、管理人からのお願い -->
  <div class="col-md-3">
    <div class="row new-post-link">
      <%= link_to new_post_path, class: "btn btn-outline-primary btn-lg btn-block" do %>
        投稿する<i class="fas fa-pencil-alt"></i>
      <% end %>
    </div>
    <div class="row rule-board">
      <div class="rule-board-text">
        <p>ご利用方法</p>
        <ol>
          <li>ご自身が経験した病気や怪我について語りましょう</li>
          <li>治療上のちょっとした悩みや心配事を相談しましょう</li>
          <li>経験談を語る場なので他人への病気の評価や批判はやめましょう</li>
          <li>悪口や誹謗中傷、差別用語、残酷な内容はやめましょう</li>
          <li>出会い系情報や営利目的の投稿はやめましょう</li>
        </ol>
      </div>
    </div>
  </div>
</div>
