<!-- ご利用上の注意 -->
<div class="row justify-content-center">
  <div class="col-md-8">
    <h2>投稿する際の注意点</h2>
    <p>安全にご利用いただけるよう、以下の対策をとっております。</p>
    <p>投稿内容はすべて目視による監視を実施しております。</p>
    <p>不適切な情報や投稿があった場合速やかに削除いたします。</p>
  </div>
</div>
<!-- 新規投稿フォーム -->
<div class="row justify-content-center">
  <div class="col-md-8">
    <%= form_for(@post, url: posts_path) do |f| %>
      <div class="row">
        <%= f.text_field :title %>
      </div>
      <div class="row">
        <%= f.text_area :contents %>
      </div>
      <div class="row">
        <%= f.collection_select(:department_id, @departments, :id, :name, { prompt: "選択してください" }) %>
      </div>
      <div class="row">
        <%= f.collection_select(:genre_id, @genres, :id, :name, { prompt: "選択してください" }) %>
      </div>
      <div class="row">
        <%= f.submit "投稿する" %>
      </div>
    <% end %>
  </div>
</div>