<div class="row">
  <!-- 検索　部分テンプレート -->
  <div class="col-md-3 search_box">
    <p>検索コーナー</p>
    <%= render partial: "post_search", locals: {search: @search, departments: @departments, genres: @genres, tags: @tags} %>
  </div>
  <!-- 投稿詳細 -->
  <div class="col-md-6">
    <div class="row post-area">
      <!-- 詳細上部 -->
      <div class="row">
        <div class="col-md-2 ml-3" style="padding: 0;">
          <%= link_to end_user_path(@post.end_user) do %>
            <%= attachment_image_tag @post.end_user, :image, size: "60x60", format: 'jpeg',fallback: "no_image.png" %>
          <% end %>
        </div>
        <div class="col-md-5" style="padding: 0;">
          <%= link_to end_user_path(@post.end_user) do %>
            <p class="end_user_name"><%= @post.end_user.name %><small> さん</small></p>
          <% end %>
        </div>
        <!-- いいね数 非同期 -->
        <div id="like-ajax-heart-<%= @post.id %>" class="col-md-2" style="padding: 0;">
          <%= render partial: "end_users/posts/like-heart", locals: {post: @post} %>
        </div>
          <!-- コメント数 非同期 -->
        <div id="comment_count" class="col-md-2" style="padding: 0;">
          <%= render partial: "end_users/post_comments/comment_count", locals: {post: @post} %>
        </div>
        <div class="row ml-1">
          <p class="post-title"><%= @post.title %></p>
        </div>
      </div>
      <!-- 詳細メイン -->
      <div class="row post-body-main">
        <p><%= simple_format(@post.contents) %></p>
      </div>
      <div class="row d-flex justify-content-around post-body-sub">
        <div class="col-md-2 badge badge-pill badge-success"><%= @post.genre.name %></div>
        <div class="col-md-6">診療科：<%= @post.department.name %></div>
        <div class="col-md-4"><%= @post.created_at.strftime('%Y/%m/%d') %></div>
        <div class="col-md-12">
          <% @post_tags.each do |post_tag| %>
            <span class="badge badge-light"><%= post_tag.name %></span>
          <% end %>
        </div>
      </div>
      <!-- 投稿したユーザーだったら編集・削除ボタン表示 -->
      <% if current_end_user == @end_user %>
        <div class="col-md-2 mt-3 offset-md-3">
          <p><%= link_to "編集する", edit_post_path(@post), class: "btn btn-outline-info btn-sm"%></p>
        </div>
        <div class="col-md-2 mr-1 mt-3">
          <p><%= link_to "削除する", post_path(@post), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-outline-danger btn-sm" %></p>
        </div>
      <% end %>
      <!-- 詳細下部 -->
      <div class="col-md-12 d-flex justify-content-around post-footer">
        <!-- いいねボタン非同期 -->
        <% if end_user_signed_in? %>
          <div id="like-ajax-btn-<%= @post.id %>" class="d-flex align-items-center">
            <%= render partial: "end_users/posts/like-btn", locals: {post: @post} %>
          </div>
        <% end %>
        <!-- コメントボタン　フォーム表示・非表示切り替え -->
        <% if end_user_signed_in? %>
          <div class="d-flex align-items-center">
            <button id="comment-btn" class="comment-btn">コメントする</button>
          </div>
        <% end %>
      </div>
      <div id="new-comment" class="form-group col-md-12 pt-4" style="display: none">
        <%= render partial: "end_users/post_comments/comment_form", locals: {post: @post, post_comment: @post_comment} %>
      </div>
    </div>
    <!-- コメント表示非同期 -->
    <div id="comment-ajax-area">
      <%= render partial: "end_users/post_comments/comment_area", locals: {post: @post} %>
    </div>
  </div>
  <!-- 新規投稿、管理人からのお願い -->
  <div class="col-md-3">
    <div class="row new-post-link">
      <%= link_to new_post_path, class: "btn btn-outline-primary btn-lg btn-block" do %>
        投稿する<i class="fas fa-pencil-alt"></i>
      <% end %>
    </div>
    <div class="row rule-board">
      <div class="rule-board-text">
        <p>ご利用方法</p>
        <ol>
          <li>ご自身が経験した病気や怪我について語りましょう</li>
          <li>治療上のちょっとした悩みや心配事を相談しましょう</li>
          <li>経験談を語る場なので他人への病気の評価や批判はやめましょう</li>
          <li>悪口や誹謗中傷、差別用語、残酷な内容はやめましょう</li>
          <li>出会い系情報や営利目的の投稿はやめましょう</li>
        </ol>
      </div>
    </div>
  </div>
</div>

