<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="row">
      <h4>診療科編集</h4>
    </div>
    <!-- 診療科編集フォーム -->
    <div class="row">
      <%= form_with(model: @department, url: admins_department_path(@department), local: true) do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
        <%= f.text_field :name %>
        <%= f.radio_button :is_valid, true, checked: "checked" %>
        <%= f.label :有効 %>
        <%= f.radio_button :is_valid, false %>
        <%= f.label :無効 %>
        <%= f.submit "登録" %>
      <% end %>
    </div>
  </div>
</div>