<div class="row justify-content-center">
  <div class="col-md-4">
    <div class="row">
      <%= link_to admins_posts_path(uncheck: "posts"), class: "btn btn-outline-danger btn-lg" do %>
        投稿未確認件数  <%= @posts.count %>件
      <% end %>
    </div>
    <div class="row">
      <%= link_to admins_posts_path(uncheck: "post_comments"), class: "btn btn-outline-danger btn-lg" do %>
        コメント未確認件数  <%= @post_comments.count %>件
      <% end %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="row new-post-link">
      <%= link_to new_admins_health_course_path, class: "btn btn-outline-primary btn-lg btn-block" do %>
        講座登録<i class="fas fa-pencil-alt"></i>
      <% end %>
    </div>
  </div>
</div>