<div class="row">
  <div class="col-md-2">
    投稿未確認件数　5件
    <!-- 投稿コメント未確認件数 -->
  </div>
  <!-- 投稿一覧 -->
  <div class="col-md-8">
    <h2 class="text-center">講座情報一覧</h2>
    <div class="row justify-content-center">
      <table class="health-course-table">
        <thead>
          <tr>
            <th>No.</th>
            <th>開催日</th>
            <th>タイトル</th>
          </tr>
        </thead>
        <tbody>
          <% @health_courses.each do |health_course| %>
            <tr class="health-course-clickable" data-link="<%= admins_health_course_path(health_course) %>">
              <td><%= health_course.id %></td>
              <td><%= health_course.date.strftime("%Y年%m月%d日") %></td>
              <td><%= health_course.title %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @health_courses %>
    </div>
  </div>
  <!-- 講座　新規登録リンク -->
  <div class="col-md-2">
    <div class="row new-post-link">
      <%= link_to new_admins_health_course_path, class: "btn btn-outline-primary btn-lg btn-block" do %>
        講座登録<i class="fas fa-pencil-alt"></i>
      <% end %>
    </div>
  </div>
</div>

