<h2 class="justify-contnt-center">講座情報 新規登録</h2>
<div class="form-group row justify-content-center">
  <div class="col-md-8">
    <%= form_for(@health_course, url: admins_health_courses_path) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      <div class="row">
        <label class="col-md-2 col-form-label m-2 p-2">タイトル</label>
        <div class="col-md-8 m-2 p-2">
          <%= f.text_field :title, class: "form-control" %>
        </div>
      </div>
      <div class="row">
        <label class="col-md-2 col-form-label m-2 p-2">講座概要</label>
        <div class="col-md-8 m-2 p-2">
          <%= f.text_area :contents, class: "form-control", rows: 10 %>
        </div>
      </div>
      <div class="row">
        <label class="col-md-2 col-form-label m-2 p-2">開催場所</label>
        <div class="col-md-4 m-2 p-2">
          <%= f.select :location, HealthCourse.locations.keys, { prompt: "選択してください" }, {class: "form-control"} %>
        </div>
      </div>
      <div class="row">
        <label class="col-md-2 col-form-label m-2 p-2">開催日</label>
        <div class="col-md-4 m-2 p-2">
          <%= f.date_field :date, class: "form-control" %>
        </div>
      </div>
      <div class="row">
        <label class="col-md-2 col-form-label m-2 p-2">サイトURL</label>
        <div class="col-md-8 m-2 p-2">
          <%= f.text_field :site, class: "form-control" %>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="actions">
          <div class="col-md-2 m-2 p-2">
            <%= f.submit "登録する", class: "btn btn-outline-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>