<div class="row">
  <!-- 検索　部分テンプレート -->
  <div class="col-md-3 search_box">
    <p>検索コーナー</p>
    <%= render partial: "end_users/health_courses/location_search" %>
  </div>
  <!-- 講座詳細 -->
  <div class="col-md-8 health-course-box">
    <div class="health-course-text">
      <div class="row">
        <h3><%= @health_course.title %></h3>
      </div>
      <div class="row">
        <p><%= simple_format(@health_course.contents) %></p>
      </div>
      <div class="row">
        <p>開催場所：<%= @health_course.location %></p>
      </div>
      <div class="row">
        <p>開催日：<%= @health_course.date.strftime("%Y年%m月%d日") %></p>
      </div>
      <div class="row">
        <p>詳細については<strong><%= link_to "こちら", @health_course.site %></strong>をクリックしてください。（情報元のサイトへとびます）</p>
      </div>
    </div>
    <!-- 編集・削除ボタン表示 -->
    <% if admin_signed_in? %>
      <div class="row justify-content-end">
        <div class="col-md-2 mt-3">
          <p><%= link_to "編集する", edit_admins_health_course_path(@health_course), class: "btn btn-outline-info btn-sm"%></p>
        </div>
        <div class="col-md-2 mr-1 mt-3">
          <p><%= link_to "削除する", admins_health_course_path(@health_course), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-outline-danger btn-sm" %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
