<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="row">
      <h3><%= @health_course.title %></h3>
    </div>
    <div class="row">
      <p><%= @health_course.contents %></p>
    </div>
    <div class="row">
      <p>開催場所：<%= @health_course.location %></p>
    </div>
    <div class="row">
      <p>開催日：<%= @health_course.date.strftime("%Y年%m月%d日") %></p>
    </div>
    <div class="row">
      <p>詳細については<strong><%= link_to "こちら", @health_course.site %></strong>をクリックしてください。（情報元のサイトへとびます）</p>
    </div>
    <!-- 編集・削除ボタン -->
    <% if admin_signed_in? %>
      <div class="row justify-content-end">
        <div class="col-md-2">
          <p><%= link_to "編集", edit_admins_health_course_path(@health_course), class: "btn btn-outline-info btn-sm"%></p>
        </div>
        <div class="col-md-2">
          <p><%= link_to "削除", admins_health_course_path(@health_course), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-outline-danger btn-sm" %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
