<!DOCTYPE html>
<html>
  <head>
    <title>LoungeYui</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to "Lounge〜結〜", posts_path %>
      <%= link_to "ログアウト", destroy_end_user_session_path, method: :delete %>
    </header>
    <main>
      <div class="container">
        <%= yield %>
      </div>
    </main>
    <footer>
    </footer>
  </body>
</html>
